body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Pacifico",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:#ffffff;
  overflow-y:scroll; 
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.home_page{
  position:relative;
  top:0px;
  left:0px;
  width:100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.logo_image{
  width:600px;
  height:600px;
  background-image: url('http://flippoweb.com/liveincolor/logo.png');
  background-size:900px 900px;
  background-position: center center;
  background-repeat: no-repeat;
}

.navigation_bar{
  font-family: 'Pacifico';
  font-size: 20px;
  width:1000px;
  display: flex;
  justify-content: space-around;
  height:50px;
  background-color:#dddddd;
  border-radius:20px;
  margin-bottom: 30px;
} 

.navigation_options{
  margin-top:0px;
  height:37px;
  padding-top:8px;
  width:130px;
  cursor:pointer;
  border-bottom: 5px solid rgba(0,0,0,0);
  transition:border-bottom .3s;
  text-align: center;
}

.option1:hover{
  border-bottom: 5px solid rgba(0,240,255,1);
}

.option2:hover{
  border-bottom: 5px solid rgba(255,0,228,1);
}

.option3:hover{
  border-bottom: 5px solid rgba(255,246,0,1);
}

.option4:hover{
  border-bottom: 5px solid rgb(82, 255, 143, 1);
}


.cards{
  width: 996px;
  height: 150px;
  border-radius:20px;
  margin-bottom:30px;
  border:2px solid #dddddd;
  position: relative;
  transition: background-color .1s;
  position: relative;
  animation: fade .5s;
  animation-fill-mode: forwards;
}

.cards:hover{
  cursor:pointer;
  background-color:#dddddd;
}

.expanded{
  height: 430px;
}

.expanded:hover{
  cursor: default;
}

@keyframes fade{
  from{opacity: 0;}
  to{opacity: 1;}
}

.thumbnail{
  position:absolute;
  width:213px;
  height:120px;
  background-color:#999999;
  top:15px;
  left:23px;
  border-radius:15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.image_gallery{
  width:400px;
  height:400px;
}

.next_button{
  right:10px;
  transform: scale(-1, 1);
}

.prev_button{
  left:10px;
}

.slide_button{
  width:40px;
  height:45px;
  font-size:35px;
  line-height: 35px;
  padding-left:5px;
  background-color:rgba(240,240,240,0.9);
  color:#222222;
  border-radius: 50%;
  position:absolute;
  bottom:20px;
  background-image:url('http://liveincolormedia.com/Merch_Images/arrow.png');
  background-size:contain;
  background-position: center;
}

.slide_button:hover{
  cursor:pointer;
  background-color:rgba(200,200,200,0.9);
}

.card_title{
  position:absolute;
  top:15px;
  left:259px;
  height:30px;
  font-family:'Roboto';
  color:#555555;
  font-size:22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width:500px;
  font-weight:bold;
}

.card_description{
  position:absolute;
  left:259px;
  height:54px;
  line-height: 27px;   
  font-family:'Roboto';
  color:#999999;
  font-size:20px;
  overflow: hidden;
  top:52px;
  width:718px;
}

.card_price{
  position:absolute;
  left:259px;
  height:30px;
  font-family:'Roboto';
  color:#999999;
  font-size:18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  top:115px;
  width:300px;
}

.card_owner{
  position:absolute;
  left:259px;
  height:30px;
  font-family:'Roboto';
  color:#777777;
  font-size:18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  top:115px;
  width:300px;
}

.expanded_info{
  left: 446px;
  width: 526px;
}

.expanded_title{
  font-size:40px;
  height:50px;
}

.expanded_description{
  font-size:25px;
  height:270px;
  line-height: 27px; 
  top:90px;
}

.expanded_price{
  font-size:40px;
  height:50px;
  top:365px;
}

.dropdown{
  width: 150px;
  position:absolute;
  left:680px;
  top:93px;
}

.expanded_dropdown{
  top:360px;
}

.add_to_cart{  
  position:absolute;
  left:700px;
  top:105px;
}

.expanded_cart{
  position:absolute;
  left:700px;
  top:373px;
}

.loading_animation{
  margin-top:100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.loading{
  color:rgba(255,0,228,1);
  text-align: center;
  font-family: 'Pacifico';
  font-size:20px;
}

.footer{
  width:100vw;
  height:180px;
  background-color:#eeeeee;
  margin-top:50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.socialLinks{
  width:1000px;
  height:90px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.socialLink{
  width:42px;
  height:42px;
  margin-right:15px;
  background-size: cover;
  border-radius: 50%;
  cursor: pointer;
  filter: saturate(30%) brightness(110%);
  transition:0.2s;
}

.socialLink:hover{
  filter: saturate(100%) brightness(100%);
}

#twitter{
  background-image: url("http://elementarylibrarian.com/wp-content/uploads/2013/11/twitter-bird-white-on-blue.png");
}

#instagram{
  background-image: url("https://www.educationviews.org/wp-content/uploads/2018/12/instagram-colourful-icon.png");
}

#soundcloud{
  background-image: url("https://i1.sndcdn.com/avatars-000681921569-32qkcn-t500x500.jpg");
}

#youtube{
  background-image: url("https://cdn.icon-icons.com/icons2/1211/PNG/512/1491579609-yumminkysocialmedia08_83079.png");
}

#email{
  width:100%;
  text-align: right;
  font-size: 20px;
  color:#555555;
}

#divider{
  border-top:1px solid #555555;
}

.developerInfo{
  width:100%;
  text-align: left;
  font-size: 20px;
  color:#555555;
  line-height: 10px;
}

.developerEmail{
  text-align: right;
}

.small{
  font-size:15px;
}

a:visited {color:#555555; }
a:hover {color:#555555; }
a:focus {color:#555555; }
a:hover, a:active {color:#555555 }

@media only screen and (max-device-width: 1000px) {
  .logo_image{
    width:100vw;
    height:100vw;
    background-image: url('http://flippoweb.com/liveincolor/logo.png');
    background-size:cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .navigation_bar{
    width:100vw;
    height:auto;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding:0px;
  }

  .navigation_options{
    margin-bottom: 0px;
    height:50px;
    padding-top:20px;
    padding-bottom:10px;
    width:50vw;
    font-size:30px;
    min-width: 200px;
  }

  .cards{
    width:99vw;
    height:100vw;
  }

  .expanded{
    height:130vw;
  }

  .thumbnail{
    width:99vw;
    height:56.3vw;
    left:0px;
    top:0px;
    border-radius:18px;
  }

  .card_title{
    left:20px;
    width:80vw;
    top:60vw;
    font-size:25px;
  }

  .card_description{
    left:20px;
    width:80vw;
    top:70vw;
    font-size:20px;
  }

  .card_owner{
    left:20px;
    width:80vw;
    top:90vw;
  }

  .card_price{
    left:20px;
    width:80vw;
    top:90vw;
  }

  .dropdown{
    width: 60vw;
    left:20vw;
    top:100vw;
  }
  
  .add_to_cart{  
    width: 60vw;
    left:20vw;
    top:102vw;
  }

  .footer{
    height:auto;
    padding-bottom:20px;
  }

  .socialLinks{
    width:90vw;
    height:auto;
    flex-wrap: wrap;
    padding-top:20px;
  }

  .socialLink{
    width:60px;
    height:60px;
  }

  #email{
    font-size:25px;
    text-align: left;
    margin-top:20px;
    margin-bottom:20px;
  }

  .developerEmail{
    text-align: left;
    margin-top:10px;
  }

  .single_line{
    height:27px;
  }

  /* These are here to remove styles on mobile */

  .image_gallery{
  }

  .expanded_info{
  }
  
  .expanded_title{
  }
  
  .expanded_description{
  }
  
  .expanded_price{
  }
  
  .expanded_dropdown{
  }
  
  .add_to_cart{  
  }
  
  .expanded_cart{
  }

}
